/*
- Envases y Troquelados: BLANQUITA MELIPILLA
- Sitio web: https://www.blanquita_melipilla.com
- Desarrollador: DeV37
*/

/*--------------------------------------------------------------------------------------
  ------------------------------Inicio tabla_productos .CSS-----------------------------
  --------------------------------------------------------------------------------------*/

.table{
    width: 100%;
    border: 4px solid #5271FF;
    font-size: 20px;
    font-family: 'Teko', sans-serif;
    padding: 10px;
    /* margin: auto; */
}

/*--------------------------------------------------------------------------------------
  ------------------------------Fin tabla_productos .CSS--------------------------------
  --------------------------------------------------------------------------------------*/

/*
- Envases y Troquelados: BLANQUITA MELIPILLA
- Sitio web: https://www.blanquita_melipilla.com
- Desarrollador: DeV37
*/



